body {
  background: conic-gradient(red, orange, yellow, green, blue, purple, red);
  background-attachment: fixed;
}
.App {
  background-color: #282c34;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  height: 80%;
}
.container {
  max-width: 700px;
  height: 90vh;
  /* padding: 20px;
  margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 10px;
}

.btn:hover {
  border: 1px solid white;
}
.Green {
  color: green;
}
.Green:hover {
  border: 1px solid green;
}
.Yellow {
  color: yellow;
}
.Yellow:hover {
  border: 1px solid yellow;
}
.AC:hover {
  border: 1px solid red;
}
.result {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 20px auto;

  font-size: 24px;
  color: aqua;
  background-color: black;
}
.result > p {
  padding: 20px;
}
